.jumb{
  padding:70px 30px 70px 30px;
  margin:10px auto;
  background-image: url("./back1.jpeg") ;
  background-repeat: no-repeat;
  /* background-position: 100% 50%; */
  background-size: cover;
  background-position: center;
  font-style: italic;
  color:black;
  overflow: none;
  
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}
.jumbotron {
  margin:120px 10px auto;
  padding:70px 30px 70px 30px;
  background-size: cover;
  background-position: center;
  background-image: url(./daisy-floral-cake.jpg);
  color: black;
  /* display:inline-block; */
  position:relative;
}

.jumbotron a{
  position: static;
  bottom:4em;
  right:4em;
  background-color:#e04247;
  border-radius:1.5em;
  color:white;
  text-transform:uppercase;
  padding:1em 1.5em;
  }

.navbar-dark {
  /* background-color: rgb(205, 105, 92); */
  background-color:rgb(53, 181, 231);
}
.NavMenu{
  margin: 50px 20px 20px 20px auto;
  padding:70px 30px 70px 30px;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  padding:70px 30px 70px 30px;
}

.login a {
  text-align: center;
  
}
form { 
	width: 600px; 
	margin: auto;
	padding: 5px; 
	border: solid black 1px;	
	border-radius: 5px;  
  box-shadow: 5px 5px 2px #888;
    
}
.fullpage{
    margin: 20px;
}
input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  text-align: center;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 500%;
  text-align: center;
}

.check {
  font-size: 16px;
}
.btn-social-icon{
  padding: 6px 15px 8px ;
  margin: 0px 10px 0px 0px;
}
.classname{
  align-items: center; 
}
.register{
  background-image: url(./components/loginback.png);
}
.btnhome{
  padding: 240px 100px 10px 10px;
}